<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show User Data</title>
    <link rel="stylesheet" href="static/style/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/show_user_page">Show User</a>
    <a href="/insert_user_page">Insert User</a>
</div>
<div class="container">
    <button id="showUserBtn" type="submit">Show User Data</button>
    <div id="userDataContainer"></div>
</div>

<script src="static/scripts/show_user.js"></script>

</body>
</html>